/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utils*/
.container{
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
}
.row{
    margin: 30px;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: #00875A;
}

/*First section*/
article{
    height: 500px;
    width: calc(100% / 3 - 4px);
    display: inline-block;
    background-color: #666;
    background-size: cover;
    background-position: central;
    background-repeat: no-repeat;
    position: relative;
}

.article.first-item{
    background-image: url("../img/1.webp");
}

.article.second-item{
    background-image: url("../img/2.webp");
}

.article.third-item{
    background-image: url("../img/3.webp");
}

.article.four-item{
    background-image: url("../img/4.webp");
}

.article.five-item{
    background-image: url("../img/5.webp");
}

.article.six-item{
    background-image: url("../img/6.webp");
}

.discount{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 2px;
    font-size: 10px;
}

.article.type-product{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 30px;
    padding: 2px;
    font-size: 10px;
}



